.table{
	border-collapse: collapse;
	margin: 10px;
}
 td{
	border:2px black solid;
	min-width: 50px;
}
.headtd{
	background-color: green;
}
.td{
	background-color: lightgreen;
}
.table button{
	background-color: orange;
	border-radius:  7px;
}